.spin-icon {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.slick-prev,
.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    z-index: 10;
}